html {
  color:black;
  background: beige;
};

header {
    border: 2px dashed #d10000;
}

.titles {
    color: #d10000;
    border: 1px solid black;
    margin: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0px 0px;
}
